.caixa {
    justify-content: center;
}

.cor_ {
    border: 2px solid black; border-radius: 5px;
}

input::placeholder {
    padding-left: 1rem;
}

.container {
    width: 30vw;
}

.img_cadastro {
    display: grid;
    justify-content: center;
}

.img__contato {
    width: 200px; height: 200px;
    display: grid;
}

@media screen and (max-width: 768px) {
    input::placeholder {
        padding-left: 0;
    }

    .img__contato {
        width: 150px; height: 150px;
    }
}

@media screen and (max-width: 592px) {
    .cadastro__button {
        width: 10rem;
    }
}