*{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightslategray;
}
/* nav */

.nav__{
    display: flex;
    font-family: 25px;
    margin-top: 20px;
}
/* logo */
#cafe_{
    width:60px;height:74px;
}
a{
    margin: 10px;
    font-size: 26px;
}
.caixa_nav_ul{
    display: flex;
    flex-direction: row;
    background-color: black;
    opacity: 60%;
    justify-content: center;
    align-items: center;
}
.caixa_slide{
    margin-top: 40px;
}
.section__h2__a{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
a{
    text-decoration: none;
    color: lightsalmon;
    cursor: pointer;
}
a:hover{
    color: lightcoral;
}

.h1-hearde{
    font-weight: lighter;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.span_colo{
    color:lightsalmon ;
    border: 1px solid lightsalmon;
    border-radius: 70%;
    padding: 10px;
}
#imagem{
   height: 72vh; width: 80vw!important; border-radius: 20px !important;
   margin-left: 120px;
}
/* main */
